/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
}

header {
    background-color: #314151;
    color: white;
    padding: 10px;
    text-align: center;
}

header .logo h1 {
    margin: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 100%;
    max-width: 600px;
    background: rgb(185, 148, 148);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-switch {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-switch button {
    flex: 1;
    padding: 10px;
    background-color: #314151;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.form-switch button.active {
    background-color: #1f2a2b;
}

.form-switch button:hover {
    background-color: #addade;
    border:2px solid rgb(208, 200, 200);
    box-shadow:2px 3px 2px 0 black;
    color:black;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

form h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #314151;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

form button:hover {
    background-color: #b6dde0;
    border:2px solid rgb(30, 27, 27);
    box-shadow:2px 3px 2px 0 black;
    color:black;
}

footer {
    background-color: #314151;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
